@use "global" as *;

.drawer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.drawer-menu__left,
.drawer-menu__right {
    padding-left: rem(22);
}

.drawer-menu__item-title a {
    position: relative;
    display: block;
    padding-top: rem(20);
    padding-bottom: rem(20);
    color: $color-white;
    font-size: rem(16);
    font-weight: $bold;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1;
}


.drawer-menu__item-title a::before {
        background: url(/assets/images/common/_ヒトデ.svg);
        position: absolute;
        content: '';
        width: rem(18);
        height: rem(18);
        left: rem(-22);
        top: rem(14);
        z-index: 100;
    }


.drawer-menu__item-title span {
    display: block;
}

.drawer-menu__item a {
    display: block;
    padding-top: rem(12);
    padding-bottom: rem(12);
    font-size: rem(16);
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1;
    color: $color-white;
}

.drawer-menu__wrap {
    margin-top: rem(13);
}