@use "global" as *;

.top-blog {
    @include mq("md") {
        padding-top: rem(97);
        background-image: url(../../assets/images/top/top-blog.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    }
}

.top-blog__inner {
    position: relative;
}

.top-blog__inner::after {
    @include mq("md") {
        content: '';
        position: absolute;
        top: rem(-78);
        left: calc(53% - min(50vw, rem(650)));
        width: rem(437);
        height: rem(201);
        background-image: url(../../assets/images/top/キンギョハナダイ-top-blog.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.top-blog__title {
    text-align: center;
}

.top-blog__list {
    margin-top: rem(30);
    max-width: rem(333);
    margin: 0 auto;

    @include mq("md") {
        max-width: initial;
        margin-top: rem(86);
    }
}

.top-blog__button-wrapper {
    margin-top: rem(35);
    text-align: center;

    @include mq("md") {
        margin-top: rem(77);
    }
}