@use "global" as *;

.top-price {
    padding-top: rem(85);
    padding-bottom: rem(84);
    background-color: $color-skyblue;

    @include mq("md") {
        padding-top: rem(100);
        padding-bottom: rem(100);
    }
}

.top-price__inner {
    position: relative;
}

.top-price__inner::after {
    @include mq("md") {
        content: '';
        position: absolute;
        width: rem(437);
        height: rem(201);
        bottom: rem(-42);
        left: calc(53% - min(50vw, rem(650)));
        background-image: url(../images/top/キンギョハナダイ-top-price.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.top-price__title {
    text-align: center;
}

.top-price__flex {
    @include mq("md") {
    flex-direction: row-reverse;
    display: flex;
    }
}

.top-price__img-wrap {
    margin-top: rem(30);

    @include mq("md") {
        margin-top: rem(46);
        margin-left: rem(95);
        max-width: 69.0740741%;
        width: 100%;
    }
}

.top-price__img-sp,
.top-price__img-pc {
    width: 100%;
}

.top-price__img-sp img{
    aspect-ratio: 345/227;
    width: 100%;
    object-fit: cover;
}

.top-price__img-pc img{
    aspect-ratio: 492/746;
    width: 100%;
    object-fit: cover;
}

.top-price__list {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(45);
        max-width: 45.5555556%;
        width: 100%;
    }
}

.top-price__item + .top-price__item {
    margin-top: rem(44);
}

.top-price__item-title {
    font-size: rem(16);
    font-weight: $bold;
    font-family: 'Noto Sans JP',sans-serif;
    line-height: calc(24/16);
    border-bottom: rem(1) solid $color-green;
}

.top-price__item-content {
    margin-top: rem(8);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: $regular;
    font-family: 'Noto Sans JP',sans-serif;
    line-height: calc(24/14);

    @include mq("md") {
        font-size: 16px;
        line-height: calc(24/16);
    }
}

.top-price__button-wrapper {
    margin-top: rem(40);
    text-align: center;

    @include mq("md") {
        margin-top: rem(64);
    }
}