@use "global" as *;

.top-button-layout {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 15px;
}

// .top-button-layout {
//     position: fixed;
//     z-index: 1000;
//     // right: rem(16);
//     right: calc(54% - min(50vw, 650px));
//     // bottom: rem(21);
//     bottom: 150px;

//     @include mq("md") {
//         // right: rem(20);
//         bottom: rem(21);
//     }
// }