@use "global" as *;

.blog-list {
    display: grid;
    column-gap: rem(40);
    row-gap: rem(40);
    grid-template-columns: repeat(1, 1fr);

    @include mq(md){
        grid-template-columns: repeat(3, 1fr);
    }
}

// .blog-list__item a {
//     padding: rem(16) rem(16) rem(24);
//     display: block;
//     height: 100%;
//     background: $color-white;
//     box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, .25);
// }

// .blog-list__img {
//     width: 100%;
// }

// .blog-list__img img {
//     width: 100%;
//     aspect-ratio: 300/200;
//     object-fit: cover;
// }

// .blog-list__content {
//     padding-top: rem(24);
// }

// .blog-list__date {
//     font-size: rem(12);
//     font-weight: $regular;
//     line-height: 1;
// }

// .blog-list__title {
//     font-size: rem(16);
//     font-weight: $medium;
//     border-bottom: solid rem(1) $color-green;
// }

// .blog-list__text {
//     font-size: rem(16);
//     font-weight: $regular;
//     line-height: calc(24/16);
//     margin-top: rem(16);
// }