@use "global" as *;

.blog-card a {
    padding: rem(16) rem(16) rem(24);
    display: block;
    height: 100%;
    background: $color-white;
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, .25);
}

.blog-card__img img {
    width: 100%;
    aspect-ratio: 300/200;
    object-fit: cover;
}

.blog-card__content {
    padding-top: rem(20);
}

.blog-card__date {
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
}

.blog-card__title {
    padding-bottom: rem(3);
    font-size: rem(16);
    font-weight: $medium;
    font-family: 'Noto Sans JP', sans-serif;
    border-bottom: solid 1px $color-green;
}

.blog-card__text {
    margin-top: rem(15);
    font-family: 'Noto Sans JP', sans-serif;
}