@use "global" as *;

.price {
    position: relative;
}

.price__inner.inner {
    @include mq("md") {
        max-width: rem(750);
    }
}

.price-tables__item {
    width: 100%;
    text-align: center;
    border: 1px solid $color-green;
    border-collapse: collapse;
}

.price-tables__item + .price-tables__item {
    margin-top: rem(35);
    @include mq("md") {
        margin-top: rem(80);
    }
}

