@use "global" as *;

.voice-list {
    display: grid;
    column-gap: rem(40);
    row-gap: rem(40);
    grid-template-columns: repeat(1, 1fr);

    @include mq(md){
        grid-template-columns: repeat(2, 1fr);
    }
}