@use "global" as *;



.voice-list {
    display: grid;
    column-gap: rem(40);
    row-gap: rem(40);
    grid-template-columns: repeat(1, 1fr);

    @include mq(md){
        grid-template-columns: repeat(2, 1fr);
    }
}

// .voice-list__item {
//     margin: 0 auto;
//     padding: rem(16) rem(16) rem(24);
//     display: block;
//     height: 100%;
//     max-width: rem(345);
//     width: 100%;
//     background: $color-white;
//     box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, .25);

//     @include mq("md") {
//         padding: rem(48) rem(24) rem(24);
//         max-width: rem(520);
//     }
// }

// .voice-list__item-flex {
//     display: flex;
//     // align-items: flex-end;
// }

// .voice-list__item-content {
//     max-width: rem(150);
//     width: 100%;

//     @include mq("md") {
//         // margin-top: rem(48);
//         max-width: rem(276);
//     }
// }

// .voice-list__item-meta {
//     @include mq("md") {
//     margin-top: 6px;
//     display: flex;
//     justify-content: space-between;
//     align-items: end;
//     }
// }

// .voice-list__item-info {
//     font-size: 12px;
//     font-weight: $regular;
//     font-family: 'Noto Sans JP',sans-serif;
// }

// .voice-list__category {
//     padding: rem(8) rem(12);
//     display: inline-block;
//     font-size: 12px;
//     font-weight: $regular;
//     line-height: 1;
//     color: $color-green;
//     border: solid 1px $color-green;

//     @include mq("md") {
//         padding: rem(10) rem(15);
//     }
// }

// .voice-list__title {
//     margin-top: 7px;
//     font-size: 16px;
//     font-weight: $medium;
//     line-height: calc(23/16);
//     border-bottom: solid rem(1) $color-green;

//     @include mq("md") {
//         margin-top: rem(8);
//         font-size: 24px;
//         line-height: calc(35/24);
//     }
// }

// .voice-list__img {
//     margin-top: 10px;
//     margin-left: rem(13);
//     max-width: rem(150);
//     width: 100%;

//     @include mq("md") {
//         margin-top: -20px;
//         margin-left: rem(16);
//         max-width: rem(180);
//     }
// }

// .voice-list__img img {
//     width: 100%;
//     aspect-ratio: 151/117;
//     object-fit: cover;

//     @include mq("md") {
//         // margin-top: rem(-28);
//         aspect-ratio: 180/140;
//     }
// }

// .voice-list__text {
//     margin-top: rem(16);
//     font-size: rem(16);
//     font-weight: $regular;
//     line-height: calc(24/16);

//     @include mq("md") {
//         margin-top: 40px;
//     }
// }